body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 20px;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    color: lightgray;
}

.container {
    border: 2px dotted black;
    width: 100px;
    height: 100px;
}

.ordered.list {
    list-style-type: lower-alpha;
}

.unordered-list {
    list-style-type: square;
}